@import "tailwindcss";
@import "../assets/css/fonts.css";

@theme {
    --color-primary: #211F1F;
    --color-secondary: #FDF8F2;
    --color-heading: #FED501;

    --font-heading: 'Fraunces', serif;
    --font-body: 'Montserrat', sans-serif;
}

@layer base {
    html::webkit-scrollbar {
        @apply hidden appearance-none;
    }


    h1 {
        @apply font-heading font-light text-7xl;
    }

    h2 {
        @apply font-heading font-light text-4xl;
    }

    h3 {
        @apply font-heading font-light text-3xl;
    }

    .cta-top div {
        @apply flex flex-col gap-5 pt-5;
    }
}

@layer components {
    .nav-links > li a {
        @apply font-body text-primary hover:text-heading transition;
    }

    footer div a {
        @apply font-body text-secondary hover:text-heading transition;
    }

    .btn-group {
        @apply flex gap-4;
    }

    .btn-primary {
        @apply bg-primary text-secondary inline-block w-fit font-body text-sm py-3 px-5 rounded-full hover:bg-primary/80 transition;
    }

    .btn-secondary {
        @apply bg-transparent text-primary inline-block w-fit font-body text-sm py-3 px-5 rounded-full border border-primary hover:bg-primary/5 transition;
    }

    .btn-secondary-dark {
        @apply bg-transparent text-secondary inline-block w-fit font-body text-sm py-3 px-5 rounded-full border border-secondary hover:bg-secondary/20 transition;
    }

    .resource-card {
        @apply flex flex-col items-center text-center gap-4;
    }

    .card-heading,
    .feature-heading {
        @apply font-heading font-light text-2xl;
    }

    .resource-card img {
        @apply h-40;
    }

    .feature-heading {
        @apply w-[70%];
    }

    .feature-body {
        @apply font-body text-sm text-gray-500;
    }

    .badge {
        @apply bg-gray-100 text-gray-700 font-body font-medium px-3 py-1 rounded-full text-sm;
    }
}